:root {
    --dark: #493628;
    --lightdark: #AB886D;
    --Text: #D6C0B3;
    --back: #E4E0E1;
}

body {
    background-color: var(--back);
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar-brand {
    font-size: 2rem;
    color: var(--dark) !important;
}



.navbar-default {
    background-color: var(--Text);
    border: none;
}

.navbar-toggle {
    border: 1px solid var(--dark);
}

.navbar-toggle .icon-bar {
    background-color: var(--dark);
}

.navbar-collapse {
    background-color: var(--lightdark);
    padding: 0;
}

.navbar-collapse ul {
    margin: 0;
    padding: 0;
}

.navbar-collapse ul li {
    list-style: none;
    text-align: center;
    border-bottom: 1px solid var(--Text);
}

.navbar-collapse ul li a {
    color: var(--dark);
    text-decoration: none;
    display: block;
    padding: 10px;
}

.navbar-collapse ul li a:hover {
    background-color: var(--Text);
}

header {
    background-color: var(--dark);
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
    color: var(--Text);
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tall-section {
    background-color: var(--lightdark);
    padding: 20px;
    margin: 20px auto; /* Centers the sections */
    width: 90%; /* Responsive width */
    max-width: 420px; /* Limit max width */
    color: var(--dark);
    text-align: center; /* Centers text inside */
}



.tall-section h3 {
    margin-top: 0;
}

.tall-section a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: var(--dark);
    text-decoration: none;
}

.tall-section a:hover {
    color: var(--Text);
}